@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    
    /* Header main container */
    .layout-header {
        @apply w-4/5 h-[14vh] flex items-center justify-between border-b-2 border-b-borderLight max-lg:w-[90%];
    }

    /* Left side of header (logo + nav) */
    .header-left {
        @apply w-fit flex items-center gap-16 max-lg:gap-5;
    }

    /* Navigation menu */
    .nav-menu {
        @apply flex gap-6 max-lg:gap-4 max-md:hidden;
    }

    /* Navigation menu items */
    .nav-menu li {
        @apply relative text-textMuted transition duration-300 hover:text-textPrimary after:content-[''] after:w-full after:scale-x-0 after:h-[4px] 
        after:bg-brandOrange after:absolute after:left-0 after:-bottom-[130%] after:transition-all after:duration-500  hover:after:scale-x-100;    
    }
    
     /* Right side of header (cart + profile) */
    .header-right {
        @apply w-28 flex items-center justify-between max-lg:justify-around max-md:justify-end max-md:gap-4;
    }

    /* Cart item counter */
    .cart-counter {
        @apply w-6 text-pageBackground text-[10px] bg-brandOrange rounded-3xl absolute bottom-3 left-2  hidden items-center justify-center;
    }

    /* Cart dropdown menu */
    .cart-dropdown {
        @apply absolute top-28 z-50 bg-pageBackground shadow-2xl right-20 w-96 h-60 rounded-xl max-md:right-3 max-md:top-36 max-md:w-[21rem];
    }

    /* Empty cart message */
    .cart-empty-message {
        @apply flex justify-center items-center h-[70%] font-bold text-[13px] text-textMuted tracking-[1px];
    }

    /* Profile avatar image */
    .profile-avatar {
        @apply w-12 rounded-full cursor-pointer outline outline-[3px] outline-transparent transition-all duration-300 
        hover:outline-brandOrange ease-in-out max-md:w-8 max-md:h-8;
    }



    /* ================= Mobile Navbar ================ */

    /* Dark overlay behind mobile navbar */
    .mobile-navbar-overlay, .product-gallery-overlay {
        @apply w-full h-full bg-overlay absolute top-0 left-0 z-30;
    }

    .mobile-navbar-overlay {
        @apply transition duration-500;
    }
    /* Mobile navbar panel */
    .mobile-navbar-panel {
        @apply w-[15rem] h-full bg-pageBackground p-5 shadow-2xl absolute top-0 left-0;
    }

    /* Mobile navbar links */
    .mobile-navbar-links {
        @apply mt-10 text-textPrimary font-bold flex flex-col gap-5; 
    }

    /* Mobile navbar link items */
    .mobile-navbar-links li a {
        @apply text-textPrimary;
    }



    /* ================= Hero Section ================= */


    /* Hero section layout */
    .hero-layout {
        @apply  w-full max-w-[80rem] h-fit flex items-center justify-between px-20 
                max-lg:gap-10 max-lg:py-8 max-md:max-w-full max-md:p-0  max-lg:flex-col;
    }

    /* Main product image */
    .product-main-img {
        @apply w-full rounded-xl cursor-pointer max-md:rounded-none;
    }

    
    /* Next & Previous buttons for image slider */
    .next-image-btn, .prev-image-btn {
        @apply w-10 h-10 bg-pageBackground rounded-full shadow-2xl hidden 
        absolute top-[45%] items-center justify-center select-none cursor-pointer max-md:flex; 
    }

    /* Icons inside slider buttons */
    .next-image-btn img, .prev-image-btn img {
        @apply w-3 filter brightness-100; 
    }

    /* Product thumbnails container */
    .product-thumbnails {
        @apply mt-5 flex justify-between;
    }

    /* Product thumbnails images */
    .product-thumbnails img {
        @apply w-20 rounded-xl cursor-pointer transition duration-300 hover:opacity-60; 
    }

    /* Active thumbnail style */
    .thumbnail-active {
        @apply outline outline-[4px] outline-brandOrange opacity-60;
    }

    /* Product details section */
    .product-details {
        @apply w-[27rem] flex gap-5 flex-col max-md:w-fit max-md:px-8 max-md:pb-8;
    }

    /* Quantity counter box */
    .quantity-counter {
        @apply w-[30%] py-3 bg-borderLight flex justify-around items-center rounded-md max-md:w-full;
    }

    /* Add to cart button */
    .btn-add-to-cart {
        @apply  w-6/12 py-3 bg-brandOrange flex gap-2 items-center justify-center  
                rounded-md cursor-pointer transition duration-500 hover:opacity-70 max-md:w-full;
    }



    /* ================= Product Gallery Overlay ================= */

    
    /* Gallery overlay container (centered content) */
    .product-gallery-overlay {
        @apply justify-center items-center hidden select-none flex-col gap-7;
    }

    /* Product gallery inside overlay (responsive width) */
    .product-gallery-overlay .product-gallery {
        @apply max-md:w-4/5;
    }

    /* Thumbnails wrapper inside overlay (show on mobile) */
    .product-gallery-overlay .product-thumbnails {
        @apply max-md:flex;  
    }

    /* Thumbnails images inside overlay (smaller size on mobile) */
    .product-gallery-overlay .product-thumbnails img {
        @apply max-md:w-16;
    }

}
